streamlit==1.32.2
google-auth==2.27.0
earthengine-api==0.1.395
folium==0.14.0
streamlit-folium==0.15.1
geopandas==0.14.1
pandas==2.1.4  # Works with Python 3.11
pillow==10.1.0  # Works with Python 3.11
numpy==1.26.4  # Explicitly required
pyngrok==7.0.0  # Remove if unused
